apiVersion: apps/v1 
kind: Deployment
metadata:
  name: onboarding-api 

spec:
  replicas: 1
  selector:
    matchLabels:
      app: api 
  template:
    metadata:
      labels:
        app: api
    
    spec:
      containers:
        - name: api
          image: async-app:latest
          imagePullPolicy: Never
          ports:
          - containerPort: 8000
          #  --- HEALTH CHECKS FOR API ---
          livenessProbe:
            httpGet:
              path: /docs
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /docs
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 5
          resources:
              requests:
                memory: "64Mi"
                cpu: "100m"
              limits:
                memory: "128Mi"
                cpu: "500m"
          env:
          - name: CELERY_BROKER_URL
            valueFrom: 
              secretKeyRef:
                name: onboarding-config 
                key: broker-url
          - name: CELERY_RESULT_BACKEND
            valueFrom:
              secretKeyRef:
                name: onboarding-config
                key: backend-url
---
apiVersion: v1
kind: Service 
metadata:
  name: api-service
spec:
  type: NodePort
  ports:
  - port: 8000
    nodePort: 30001
  selector:
    app: api

---
apiVersion: apps/v1 
kind: Deployment
metadata:
  name: onboarding-worker 
spec: 
  replicas: 2 # Easy scaling!!
  selector:
    matchLabels:
      app: worker 
  template:
    metadata:
      labels:
        app: worker
    spec:
      containers:
      - name: worker
        image: async-app:latest
        imagePullPolicy: Never
        command: ["celery","-A","app.tasks.celery_app","worker","--loglevel=info"]
      # --- HEALTH CHECK FOR WORKER ---
        livenessProbe:
          exec:
            command: ["celery","-A","app.tasks.celery_app","inspect","ping"]
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          exec:
            command: ["celery","-A","app.tasks,celery_app","inspect","ping"]
          initialDelaySeconds: 15
          periodSeconds: 10
        resources:
          requests:
            memory: "64Mi"
            cpu: "100m"
          limits:
            memory: "128Mi"
            cpu: "500m"
        env:
        - name: CELERY_BROKER_URL
          valueFrom:
            secretKeyRef:
              name: onboarding-config
              key: broker-url
        - name: CELERY_RESULT_BACKEND
          valueFrom:
            secretKeyRef:
              name: onboarding-config
              key: backend-url